<div>
    <h2>Productos</h2>
</div>
<div id="productsList" class="products-container" >
    
</div>


<script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.14.1/dist/sweetalert2.all.min.js"></script>
<script type="module">

    import {renderProducts} from '/static/js/public-utils.js';

    const productsList = document.getElementById('productsList');
    const getProducts = async() => { fetch('/api/products/', { method: 'GET'})
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok ' + response.statusText);
            }
            return response.json();
        })
        .then(data => {
            //console.log('Data Recibida dentro de getProducts: ',data);
            renderProducts(data.data);
        })
        .catch(error => {
            console.error('Hubo un problema con tu fetch operación:', error);
        })
    }
    getProducts()

</script>